*                       {padding:0;margin:0;}

body                    {background:#10212e;font:12px Helvetica Neue,Helvetica,Arial,sans-serif;color:#cdcdcd;}

p                       {margin:10px 0;line-height:1.25;}

a                       {color:#6887a0;text-decoration:none;}
a:hover                 {text-decoration:underline;}
a:active, a:focus       {outline:0 none;}

ul, ol                  {list-style:none;}

h1, h2, h3, h4, h5, h6  {font-family:'Myriad Pro';text-shadow:1px 1px 1px #000;margin:0 0 20px;}
h1                      {font-size:20px;}
h2                      {font-size:18px;}
h3, h4, h5, h6          {font-size:16px;}

img                     {border:0 none;}

input[type=text],
input[type=password],
textarea                {-moz-border-radius:2px;-webkit-border-radius:2px;border:1px solid #bbb;padding:2px;}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus          {border:1px solid #6887a0;}

#container              {width:860px;margin:0 auto;}

#header                 {height:50px;margin-top:20px;padding:0;padding-bottom:20px;border-bottom:1px solid black;}
#header h1              {margin:0 0 0 20px;text-shadow:2px 2px 2px #000;float:left;font-size:42px;}
#header h1 a            {color:#6887a0;}
#header h1 a:hover      {text-decoration:none;}

#nav                    {margin-top:25px;margin-right:20px;float:right;font-size:18px;font-family:'Myriad Pro';}
#nav ul                 {list-style:none;font-weight:bold;}
#nav ul li              {text-shadow:1px 1px 1px #000;margin-left:10px;color:#6887a0;display:inline;margin-bottom:2px;border-bottom:2px solid #283743;}
#nav ul li a            {color:#88939c;margin-bottom:2px;border-bottom:2px solid #10212e;}
#nav ul li a:hover      {color:#88939c;margin-bottom:2px;border-bottom:2px solid #283743;text-decoration:none;}

#wrapper                {background:url(/images/glow_top.png) no-repeat top left;border-top:1px solid #283743;border-bottom:1px solid black;padding:20px;width:820px;margin:0 auto;min-height:500px;overflow:hidden;position:relative;}

#content                {float:left;width:600px;}

#sidebar                {float:right;clear:right;width:170px;color:#88939c;font-size:12px;}
#sidebar h2             {font-size:18px;margin-bottom:10px;}
#sidebar p              {line-height:normal;}
#sidebar ul             {list-style:none;margin-bottom:10px;}
#sidebar ul li          {margin-bottom:2px;padding-left:20px;}
#sidebar ul li.feed     {background:url(/images/rss.png) no-repeat;padding-top:2px;}
#sidebar ul li.tag      {background:url(/images/tag.png) no-repeat;padding-top:1px;}
#sidebar ul li.archive  {background:url(/images/folder.png) no-repeat;padding-top:2px;}
#sidebar ul li.newpost  {background:url(/images/page_add.png) no-repeat;padding-top:4px;}
#sidebar ul li.newuser  {background:url(/images/user_add.png) no-repeat;padding-top:4px;}
#sidebar ul li.allusers {background:url(/images/group.png) no-repeat;padding-top:4px;}
 
#footer                 {border-top:1px solid #283743;color:#cdcdcd;padding-top:20px;margin-bottom:50px;text-align:center;font-size:13px;font-family:'Myriad Pro';}
#footer a               {text-decoration:none;text-shadow:1px 1px 1px #000;}
#footer p               {margin:0;}

#flash_notice,
#flash_error              {-moz-border-radius-bottomright:5px;-webkit-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;-webkit-border-radius-bottomleft:5px;padding:5px 0;margin:-20px 0 20px;border-left:1px solid #283743;border-bottom:1px solid #283743;border-right:1px solid #283743;text-align:center;}
#flash_notice span.notice {background:url(/images/information.png) no-repeat;padding-left:20px;}
#flash_error span.error   {background:url(/images/delete.png) no-repeat;padding-left:20px;}

#single                             {position:relative;background:rgba(0, 0, 0, 0.15);padding:10px;margin:-10px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#single .content .head              {padding:0 0 5px;border-bottom:1px solid #000;position:relative;overflow:hidden;}
#single .content .head h2.title     {font-size:22px;margin:0;}
#single .content .head h2.title span.draft {color:#88939c;font-size:14px;}
#single .content .head h2.title span.actions {float:right;clear:right;margin-top:2px;}
#single .content .head h2.title span.actions span.destroy a {color:#cc3333;text-shadow:1px 1px 1px #000;}
#single .content .body              {border-top:1px solid #283743;padding:15px 0;font-size:15px;}
#single .content .body h1,
#single .content .body h2,
#single .content .body h3,
#single .content .body h4,
#single .content .body h5,
#single .content .body h6,
#single .content .body p,
#single .content .body ul,
#single .content .body ol           {margin:5px 0;text-shadow:none;}
#single .content .body em.updated   {font-size:12px;}
#single .content .foot              {padding:13px 0;border-top:1px solid #283743;border-bottom:1px solid #283743;}
#single .content .foot p.meta       {margin:0;padding:0;padding-top:2px;font-size:12px;color:#404f48;}
#single.static                      {font-size:15px;}
#single.draft                       {background:rgba(0, 0, 0, 0.30);}

#posts .post                        {display:block;position:relative;overflow:hidden;background:rgba(0, 0, 0, 0.15);padding:10px;margin:0 -10px 30px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#posts .post.draft                  {background:rgba(0, 0, 0, 0.30);}
#posts .post .content .head         {padding:0 0 5px;border-bottom:1px solid #000;position:relative;overflow:hidden;}
#posts .post .content .head h2.title {font-size:22px;margin:0;}
#posts .post .content .head h2.title a {color:#cdcdcd;}
#posts .post .content .head h2.title a:hover {text-decoration: none;}
#posts .post .content .head h2.title span.draft {color:#88939c;font-size:14px;}
#posts .post .content .head p.meta  {margin:0;padding:0;padding-top:2px;font-size:12px;color:#404f48;}
#posts .post .content .body         {border-top:1px solid #283743;padding:15px 0 0;font-size:15px;}
#posts .post .content .body h1,
#posts .post .content .body h2,
#posts .post .content .body h3,
#posts .post .content .body h4,
#posts .post .content .body h5,
#posts .post .content .body h6,
#posts .post .content .body p,
#posts .post .content .body ul,
#posts .post .content .body ol      {margin:5px 0;text-shadow:none;}

#posts_list .post                       {color:#88939c;padding:10px 0 10px 5px;margin-left:-5px;border-bottom:1px solid #000;border-top:1px solid #283743;display:block;position:relative;overflow:hidden;}
#posts_list .post a       {text-shadow:1px 1px 1px #000;}
#posts_list .post:hover, #posts_list .post.draft {background:rgba(0, 0, 0, 0.15);}
#posts_list .post.single  {border:none;-moz-border-radius:5px;-webkit-border-radius:5px;}
#posts_list .post.first   {border-top:none;-moz-border-radius-topright:5px;-webkit-border-radius-topright:5px;-moz-border-radius-topleft:5px;-webkit-border-radius-topleft:5px;}
#posts_list .post.last    {border-bottom:none;-moz-border-radius-bottomright:5px;-webkit-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;-webkit-border-radius-bottomleft:5px;}
#posts_list .post .title  {float:left;width:73%;}
#posts_list .post .meta   {float:right;clear:right;width:25%;}

#comments                               {padding-top:30px;}
#comments h2                            {margin:20px 0;font-size:16px;}
#comments .comment                      {margin-bottom:20px;padding:5px 0;display:block;position:relative;overflow:hidden;}
#comments .comment.has_user             {-moz-border-radius:5px;-webkit-border-radius:5px;;margin:0 -10px 20px;padding:5px 10px;background:rgba(0, 0, 0, 0.15);}
#comments .comment .info                {float:left;width:23%;padding:5px 0;font-size:12px;}
#comments .comment .info .username      {text-shadow:1px 1px 1px #000;}
#comments .comment .info p              {margin:0;color:#88939c;}
#comments .comment .info span.destroy a {float:right;text-shadow:1px 1px 1px #000;color:#cc3333;}
#comments .comment .info img.gravatar   {float:left;padding:2px;border:1px solid #88939c;margin:3px 5px 0 0;}
#comments .comment .body                {padding:5px 0;float:right;clear:right;width:75%;}
#comments .comment .body h1,
#comments .comment .body h2,
#comments .comment .body h3,
#comments .comment .body h4,
#comments .comment .body h5,
#comments .comment .body h6,
#comments .comment .body p,
#comments .comment .body ul,
#comments .comment .body ol             {margin:0 0 5px;text-shadow:none;font-size:15px;}

h2#new_comment           {margin-top:50px;background:url(/images/comment_add.png) no-repeat;padding-left:20px;}

h2#comments_count        {background:url(/images/comments.png) no-repeat;padding-left:20px;}

#users .user                {font-size:12px;margin:20px 0;}
#users .user.single         {margin:0;}
#users .user.first          {margin-top:0;}
#users .user.last           {margin-bottom:0;}
#users .user dl             {margin-bottom:3px;display:block;position:relative;overflow:hidden;}
#users .user dt             {text-shadow:1px 1px 1px #000;float:left;color:#88939c;width:14%;}
#users .user dd             {float:right;clear:right;width:85%;}
#users .user dd.name        {font-weight:bold;}
#users .user span.destroy a {color:#cc3333;text-shadow:1px 1px 1px #000;float:right;}

#pagination             {}

#searchfield            {margin-bottom:20px;display:inline;color:#10212e;background:#88939c;width:80px;border:1px solid #000;}
#searchsubmit           {-moz-border-radius:2px;-webkit-border-radius:2px;color:#10212e;background:#88939c;padding:1px;border:1px solid #000;cursor:pointer;}
#searchfield:focus,
#searchsubmit:focus     {border:1px solid #252527;}

#session                {position:absolute;top:1px;right:1px;font-size:12px;}
#session.login          {background:url(/images/door_in.png) no-repeat top right;padding-right:22px;}
#session.logout         {background:url(/images/door_out.png) no-repeat top right;padding-right:22px;}

#login form                     {display:block;position:relative;overflow:hidden;}
#login form label               {font-weight:bold;color:#88939c;text-shadow:1px 1px 1px #000;float:left;width:150px;}
#login form input[type=submit]  {margin-left:149px;}
