* {
  padding: 0;
  margin: 0;
}

body {
  background: #1c1916;
  /*font: 14px 'Myriad Pro', 'Lucida Grande', Helvetica, Arial, sans-serif;*/
  font: 12px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #cdcdcd;
}

p {
  margin: 10px 0;
  line-height: 1.5;
}

a {
  color: #34a8a1;
  text-decoration: none;
}
a:active,
a:focus {
  outline: 0 none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 10px 0;
}
h1 {
  font-size: 16px;
}
h2 {
  font-size: 15px;
}
h3, h4, h5, h6 {
  font-size: 14px;
}

input[type=text],
input[type=password],
textarea {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #bbb;
  padding: 2px;
}
input:focus,
textarea:focus { 
  border: 1px solid #34a8a1;
}

#container {
  width: 860px;
  margin: 0 auto;
}

#header {
  height: 40px;
  margin-top: 20px;
  padding: 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
#header h1 {
  margin: 0;
  text-shadow: 2px 2px 2px #000;
  float: left;
  font-size: 32px;
  font-weight: normal;
}

#nav {
  margin-top: 30px;
  float: right;
  font-size: 16px;
}
#nav ul {
  list-style: none;
}
#nav ul li {
  text-shadow: 1px 1px 1px #000;
  margin-left: 10px;
  display: inline;
  color: #34a8a1;
  margin-bottom: 2px;
  border-bottom: 2px solid #2c2c2a;
}
#nav ul li a {
  color: #36615d;
  margin-bottom: 2px;
  border-bottom: 2px solid #1c1916;
}
#nav ul li a:hover {
  color: #34a8a1;
  margin-bottom: 2px;
  border-bottom: 2px solid #2c2c2a;
}

#wrapper {
  border-top: 1px solid #2c2c2a;
  border-bottom: 1px solid black;
  padding: 20px;
  width: 820px;
  margin: 0 auto;
  min-height: 615px;
  overflow: hidden;
  position: relative;
}

#content {
  float: left;
  width: 600px;
}
#content a:hover {
  text-decoration: underline;
}

#sidebar {
  float: right;
  clear: right;
  width: 170px;
}
#sidebar h2 {
  text-shadow: 1px 1px 1px #000;
  font-size: 16px;
  color: #3d3c3b;
  margin-top: 0;
}
#sidebar p {
  line-height: normal;
}
#sidebar ul {
  list-style: none;
  margin-bottom: 10px;
}
#sidebar a {
  color: #36615d;
}
#sidebar a:hover {
  color: #34a8a1;
}

#footer {
  text-shadow: 1px 1px 1px #000;
  border-top: 1px solid #2c2c2a;
  color: #3d3c39;
  padding-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
#footer a {
  color: #34a8a1;
  text-decoration: none;
}
#footer p {
  margin: 0;
}

#flash_notice,
#flash_error {
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomleft: 8px;
  padding: 5px 0;
  margin: -20px 0 20px;
  border-left: 1px solid #2c2c2a;
  border-bottom: 1px solid #2c2c2a;
  border-right: 1px solid #2c2c2a;
  text-align: center;
}
#flash_notice:before {
  content: '✔ ';
  color: #34a8a1;
}
#flash_error:before {
  content: '✘ ';
  color: #cc3333;
}

.post {
  margin-bottom: 40px;
  display: block;
  position: relative;
  overflow: hidden;
}
.post .date {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomleft: 8px;
  text-shadow: 1px 1px 1px #000;
  color: #36615d;
  float: left;
  font-size: 11px;
  font-weight: bold;
  height: 32px;
  margin-top: 5px;
  padding: 0 3px 0 2px;
  border-bottom: 1px solid #272725;
  border-left: 1px solid #272725;
  text-align: center;
  text-transform: uppercase;
  width: 10%;
}
.post .date b {
  margin-top: -3px;
  color: #34a8a1;
  display: block;
  font-size: 15px;
}
.post .content {
  -moz-border-radius-topleft: 8px;
  -webkit-border-radius-topleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomright: 8px;
  width: 89%;
  float: right;
  clear: right;
  background: #272725;
}
.post .head {
  -moz-border-radius-topleft: 8px;
  -webkit-border-radius-topleft: 8px;
  margin: 1px;
  padding: 2px 5px;
  position: relative;
  overflow: hidden;
  background: #1c1916;
}
.post .head h2.title {
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  float: left;
  margin: 0;
}
.post .head span.user {
  float: right;
  clear: right;
  padding-top: 2px;
  font-size: 12px;
  color: #404f48;
}
.post .body {
  padding: 5px 10px;
}
.post .body p {
  margin: 5px;
}
.post .meta {
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomright: 8px;
  background: #1c1916;
  margin: 1px;
  padding: 3px 5px;
  font-size: 10px;
  color: #404f48;
  position: relative;
  overflow: hidden;
}
.post .meta span.tags {
  float: left;
}
.post .meta span.comments {
  float: right;
  clear: right;
}

.pagination {
  position: absolute;
  bottom: 25px;
  font-size: 11px;
  margin-left: 66px;
}
.pagination a,
.pagination em,
.pagination span {
  padding: 0.25em 0.5em;
  border: 1px solid #2c2c2a;
  font-style: normal;
  text-decoration: none;
}
.pagination span.disabled,
.pagination em {
  color: #888;
}
.pagination span.current {
  font-weight: bold;
  background: #151311;
}
.pagination a:hover,
.pagination a:focus {
  border-color: #34a8a1;
}
