/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset ol li p.inline-hints {
  font-size: 12px;
  color: #66717a;
}
form.formtastic fieldset ol li ul.errors,
form.formtastic fieldset ol li p.inline-errors {
  background: url(/images/delete.png) no-repeat;
  padding-left: 20px;
  font-size: 12px;
  color: #cdcdcd;
}
form.formtastic fieldset ol li input,
form.formtastic fieldset ol li textarea {
  padding: 2px;
}
form.formtastic fieldset ol li label {
  color: #66717a;
  text-shadow: 1px 1px 1px #000;
}
