#posts
  - @posts.each do |post|
    %h2
      = link_to h(post.title), post_slug_url(post)
    .author
      by
      = post.user.username
      = time_ago_in_words(post.created_at)
      ago
    .content
      = parse_markdown_body(post.body)
