- if @posts.any?
  %ul#posts_list
    - @posts.each do |post|
      %li.post{:class => posts_list_classes(@posts, post)}
        .title
          %strong= link_to h(post.title), post_path(post)
          by
          = h post.creator.username
        .meta= content_tag :span, post.published_or_created_at.strftime('%B %e'), :title => post.published_or_created_at
- else
  No posts found!
